<footer>
    <section id="contacts_us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="font-size: 24px">
                        <p class="text-center">
                            ИНТЕРЕСУЕТ ПОЛНОЕ МУЗЫКАЛЬНОЕ ПОРТФОЛИО?
                            <br/>
                            ХОТИТЕ ОБСУДИТЬ УСЛОВИЯ РАБОТЫ?
                        </p>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="centered">
                        Электронная почта
                    </h3>

                    <p class="centered">
                        <a href="mailto:615252@mail.ru" style="color: #FFFFFF">
                            <i class="fa fa-envelope" style="font-size: 128px"></i>
                        </a>
                    </p>

                    <p class="centered">
                        <a href="mailto:615252@mail.ru" style="color: #FFFFFF">
                            Отправте нам электронное письмо. Мы обязательно ответим вам в течении одного дня.
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3 class="centered">
                        Вконтакте
                    </h3>

                    <p class="centered">
                        <a href="http://vk.com/write6529379" style="color: #FFFFFF">
                            <i class="fa fa-vk" style="font-size: 128px"></i>
                        </a>
                    </p>

                    <p class="centered">
                        <a href="http://vk.com/write6529379" style="color: #FFFFFF">
                            Свяжитесь напрямую с нашим музыкальным продюсером. Это наиболее удобный способ
                            получения обратной связи.
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3 class="centered">
                        Телефонный звонок
                    </h3>

                    <p class="centered">
                        <a href="tel:+79115185252" style="color: #FFFFFF">
                            <i class="fa fa-phone-square" style="font-size: 128px"></i>
                        </a>
                    </p>

                    <p class="centered">
                        Или позвоните нам по телефону. Звонок является наиболее быстрым способом связаться с нами.
                    </p>
                </div>
            </div>

            <span style="width: 100%; display: block; border: 1px solid #222222; margin: 30px 0"></span>

            <div class="row">
                <p class="centered">Песня на заказ © Продюссерский центр Никиты Викторова, 2014</p>
            </div>
        </div>
    </section>
</footer>