<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Песня На Заказ</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">О нас</a></li>
          <li><a href="#samples">Наши работы</a></li>
          <li><a href="#contacts_us">Свяжитесь с нами</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>